# 编译输出
build/

# 文档目录
doc/

# 配置文件
config/config.json
config/media-manager.lock

# 日志文件
logs/

# 数据库文件
data/

# 操作系统文件
.DS_Store
*.swp
*.swo

# IDE文件
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
